
        <a href="/Inbox/Compose" id="compose-mail" class="btn btn-primary btn-block"><strong>Escrever</strong> </a>

        <ul class="inbox-menu-lg">
            <li @((ViewBag.SetMenu == "1") ? "class=active" : string.Empty)>
                <a href="/Inbox">Caixa de Entrada</a>
            </li>
            <li @((ViewBag.SetMenu == "2") ? "class=active" : string.Empty)>
                <a href="/Inbox/Sent">Enviados</a>
            </li>
            <li @((ViewBag.SetMenu == "3") ? "class=active" : string.Empty)>
                <a href="/Inbox/Trash">Lixeira</a>
            </li>
        </ul>