
        <a href="javascript:void(0);" id="compose-mail" class="btn btn-primary btn-block"><strong>Escrever</strong> </a>

        <ul class="inbox-menu-lg">
            <li class="active">
                <a class="inbox-load" href="javascript:void(0);">Caixa de Entrada (14) </a>
            </li>
            <li>
                <a href="javascript:void(0);">Enviados</a>
            </li>
            <li>
                <a href="javascript:void(0);">Lixeira</a>
            </li>
            <li>
                <a href="javascript:void(0);">Rascunhos</a>
            </li>
        </ul>