
        <a href="javascript:void(0);" id="compose-mail" class="btn btn-primary btn-block"><strong>Escrever</strong> </a>

        <ul class="inbox-menu-lg">
            <li class="active">
                <a class="inbox-load" href="/Inbox">Caixa de Entrada (@(ViewBag.TotalDeMensagem))</a>
            </li>
            <li>
                <a href="/Inbox/Sent">Enviados</a>
            </li>
            <li>
                <a href="/Inbox/Trash">Lixeira</a>
            </li>
            <li>
                <a href="/Inbox/Draft">Rascunhos</a>
            </li>
        </ul>