@using PagedList.Mvc;
@model PagedList.IPagedList<SmartAdmin.WebUI.ModelView.MensagemModelView>
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="inbox-nav-bar no-content-padding">  
  @Html.Partial("HeaderPartial")   
</div>

<div id="inbox-content" class="inbox-body no-content-padding">  
    <div class="inbox-side-bar">    
        @Html.Partial("MenuPartial") 
    </div>   
    <div class="table-wrap custom-scroll animated fast fadeInRight" style="height:500px;">
        @Html.Partial("GridPartial", Model)   
    </div> 
</div>


 <!-- #modal-menu-create -->
@*<div class="modal fade" id="modal-menu-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cadastrar menu</h4>
        </div>
    </div>
</div>
</div>*@

<script>
    //$('#btnDropMessageSents').click(function () {
    //    var CheckboxSelected = $("#inbox-table input[type=checkbox]:checked");

    //    if (CheckboxSelected >= 0)
    //    {
    //        $('#modal-drop-messages').modal('show')
    //    }

    //});



    $("#btnDropMessageSents").click(function (e) {

        var Items = $("#inbox-table input[type=checkbox]:checked");
        var values = [];

        $("#inbox-table input[type=checkbox]:checked").each(function () {
            if (this.checked === true) {
                values.push($(this).val());
            }
        });


        if (Items.length > 0)
        {
            console.log(values);

            $.SmartMessageBox({
                title: "Aviso!",
                content: "Deseja realmente apagar o(s) " + Items.length + " item(s) selecionado(s).",
                buttons: '[Sim][Não]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "Sim") {
                    $.ajax({
                        url: '/Inbox/DeleteDefinitive',
                        type: "POST",  
                        //data: JSON.stringify([1,2,3]),   
                        //data: JSON.stringify({ steps: ['1', '2', '3'] }),
                        data: values,
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        success: function () {
                            $.smallBox({
                                title: "Itens apagados",
                                content: "<i class='fa fa-clock-o'></i> <i>Item(s) apagados com sucesso!</i>",
                                color: "#659265",
                                iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                timeout: 5000
                            });
                        },
                        error: function (data) {
                            alert("não rolo");
                        }
                    });

                    
                }
                if (ButtonPressed === "Não") {
                    return (false);
                }  
            });
            e.preventDefault();
        }
    })


</script>
