<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cadastrar Agência Bancaria</h4>
        </div>
        @using (Html.BeginForm("Save", "Banco", FormMethod.Post, new { @id = "smart-form-create" }))
        {
            <div class="modal-body" style="padding-bottom:0px;">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <label class="input">
                                    <i class="icon-append fa fa-tasks"></i>
                                    <input type="text" name="menu" placeholder="Nome da Agência Bancaria">
                                    <b class="tooltip tooltip-bottom-right">
                                        <i class="fa fa-warning txt-color-teal"></i> Nome da Agência Bancaria
                                    </b>
                                </label>
                            </section> 
                            <section>
                                <label class="input">
                                    <i class="icon-append fa fa-sitemap"></i>
                                    <input type="text" name="controller" placeholder="Código da Agência Bancaria">
                                    <b class="tooltip tooltip-bottom-right">
                                        <i class="fa fa-warning txt-color-teal"></i> Código da Agência Bancaria
                                    </b>
                                </label>
                            </section>  
                        </fieldset> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-default" data-dismiss="modal"><i class="fa fa-sign-in"></i>&nbsp;Fechar</button>
                <button type="submit" class="btn btn-md btn-warning"><i class="fa fa-cog"></i>&nbsp;Salvar</button>
            </div>
        }
    </div>
</div>

<!-- scripts -->
<script src="~/Script/Banco/Create.js"></script>
