@using SmartAdmin.WebUI.HtmlHelpers;
@model SmartAdmin.Data.Model.UsuarioDto

@using (Html.BeginForm("Logar", "Login", FormMethod.Post, new { @id = "smart-form-login", @class = "smart-form client-form" }))
{
    @Html.AntiForgeryToken()     
    @Html.Hidden("Remind","false")
    <header>
        Acesso a Administração
    </header> 
    <fieldset>
        <section>
            <label class="label">Login</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                @HtmlControls.TextBox("LOGIN", new { @value = Model.LOGIN, @placeholder="Informe seu login", @tabindex="1" })
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Informe seu login!</b></label>
        </section> 
        <section>
            <label class="label">Senha</label>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @HtmlControls.Password("SENHA", new { @value = Model.SENHA, @placeholder="Informe sua senha", @tabindex="2" })
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Informe sua senha!</b>
            </label>
            <div class="note">
                <a data-toggle="modal" data-target="#modal-usuario-remember">Esqueceu sua senha?</a>
            </div>
        </section>
        <section>
            <label class="checkbox">
                <input id="REMEMBER" name="REMEMBER" type="checkbox">
                <i></i> Permanecer conectado!</label>
        </section>
    </fieldset>
    <footer>
        <button id="btnLogar" type="submit" class="btn btn-warning">Logar</button>
    </footer>
}     
<script src="~/Script/Login/Index.js"></script>