<header id="header">
    <div id="logo-group">
        <span id="logo">
            <img src="~/Content/img/logo-pattern.png" alt="SmartAdmin">
        </span>
    </div>
    <span id="extr-page-header-space"><span class="hidden-mobile">Precisa de Acesso?</span> <a class="btn btn-danger" data-toggle="modal" data-target="#modal-usuario-create">Criar Usuário</a> </span>
</header>
