<!-- User info -->
<div class="login-info">
    <span>
        <!-- User image size is adjusted inside CSS, it should stay as is -->

        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/Content/img/avatars/sunny.png" alt="me" class="online" />
            <span onclick="window.location.href='/Usuario/Edit'">john.doe 
            </span>
            <i class="fa fa-angle-down"></i>
        </a>

    </span>
</div>
<!-- end user info -->

<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i><span class="menu-item-parent">Financeiro</span></a>
            <ul>
                <li>
                    <a href="/Boleto/Index">Boletos</a>
                </li>
                <li>
                    <a href="/Boleto/DadosDoCedente">Dados do Cedente</a>
                </li>
                <li>
                    <a href="/Banco/Index">Cadastro de Agências</a>
                </li>
            </ul>
        </li>
		<li class="top-menu-hidden">
			<a href="/Inbox/Index"><i class="fa fa-lg fa-fw fa-comment-o"></i> <span class="menu-item-parent">Inbox</span></a>
		</li>
		<li class="top-menu-hidden">
			<a href="#"><i class="fa fa-lg fa-fw fa-envelope-o"></i> <span class="menu-item-parent">Newsletters</span></a>
			<ul>
				<li>
					<a href="/Newsletter/Grupos"><i class="fa fa-users"></i> Grupos</a>
				</li>
				<li>
					<a href="/Newsletter/Campanhas"><i class="fa fa-paper-plane"></i> Campanhas</a>
				</li>
				<li>
					<a href="/Newsletter/Templates"><i class="fa fa-picture-o"></i> Templates</a>
				</li>
			</ul>
		</li>
		<li class="top-menu-hidden">
			<a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Administração</span></a>
			<ul>
				<li>
					<a href="/Usuario/Index"><i class="fa fa-stack-overflow"></i> Usuários</a>
				</li>
				<li>
					<a href="/Menu/Index"><i class="fa fa-cube"></i> Menus</a>
				</li>
				<li>
					<a href="/Historico/Index"><i class="fa fa-pencil"></i> Histórico</a>
				</li>
				<li>
					<a target="_blank"><i class="fa fa-bug"></i> Bugs</a>
				</li>
			</ul>
		</li>

    </ul>
</nav>

<span class="minifyme" data-action="minifyMenu"><i class="fa fa-arrow-circle-left hit"></i></span>

