@using PagedList.Mvc;
@model PagedList.IPagedList<SmartAdmin.Dto.MenuDto>  
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>Menus do Sistema
        </h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 text-right"></div>

    <div class="col-md-12">
        <div class="row">
            <article class="col-sm-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="widget-busca">
                    @Html.Partial("FiltroPartial", new SmartAdmin.Dto.MenuDto())
                </div>
            </article>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark">
                    @Html.Partial("GridPartial", Model)
                </div>
            </article>
        </div>
    </div> 

</div>

 <!-- #modal-menu-create -->
<div class="modal fade" id="modal-menu-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("CreatePartial", new SmartAdmin.Dto.MenuDto())
</div>

<script type="text/javascript">

    runAllForms()

    $(document).ready(function () {
        var pagefunction = function () {
            $(".datemask").mask("99/99/9999");
        };

        pagefunction();
    });        

</script>