@using PagedList.Mvc;
@model PagedList.IPagedList<SmartAdmin.Data.Model.MenuDto>  
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>Categorias de Menus
        </h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 text-right"></div>

    <div class="col-md-12">
        <div class="row">
            <article class="col-sm-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="widget-busca">
                    @Html.Partial("FiltroPartial", new SmartAdmin.Data.Model.MenuDto())
                </div>
            </article>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark">
                    @Html.Partial("GridPartial", Model)
                </div>
            </article>
        </div>
    </div> 

</div>

 <!-- #modal-menu-create -->
<div class="modal fade" id="modal-menu-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("CreatePartial", new SmartAdmin.Data.Model.MenuDto())
</div>

<!-- scripts -->
<script src="~/Script/Menu/Index.js"></script>
<script>
    @((!String.IsNullOrEmpty(ViewBag.Mensagem)) ? Html.Raw("PrintAlert(\"" + ViewBag.Mensagem + "\");") : null)

    function PrintAlert(alert) {
        $.SmartMessageBox({
            title: '<i class="fa fa-lg fa-fw fa-exclamation-triangle"></i> Aviso!',
            content: '<div style="margin:10px 0px 0px 5px;">' + alert + '</div>',
            buttons: '[Voltar]'
        });
    }
</script>