<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Port=3333;Database=cliniccenter;Uid=root; Pwd=OPala13!;" providerName="MySql.Data.MySqlClient" />
    <add name="ConnectionSqlServer" connectionString="data source=187.17.112.154;initial catalog=hubert_vdc_web_desenv;persist security info=True;user id=hubert;password=hbt973@US;" providerName="System.Data.EntityClient" />
    <add name="ConnectionOracle" connectionString="Server=localhost;Port=3333;Database=cliniccenter;Uid=root; Pwd=OPala13!;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Diretório da Camada de Dados -->
    <add key="OutputClassDataModels"          value="D:\Projetos\SolutionPlataform\SmartAdmin.Data" />
    <add key="OutputClassDataMapper"          value="D:\Projetos\SolutionPlataform\SmartAdmin.Data" />
    <add key="OutputClassDataContext"         value="D:\Projetos\SolutionPlataform\SmartAdmin.Data" />
    <add key="OutputClassDataRepository"      value="D:\Projetos\SolutionPlataform\SmartAdmin.Data" />
    <add key="OutputClassDataUnitOfWork"      value="D:\Projetos\SolutionPlataform\SmartAdmin.Data" />
    <add key="OutputClassDataContextName"     value="SmartAdminContext" />

    <!-- Diretório da Camada de Domínio -->
    <add key="OutputClassDomain"              value="D:\Projetos\SolutionPlataform\SmartAdmin.Domain" />
    <add key="OutputClassDomainUnitOfWork"    value="D:\Projetos\SolutionPlataform\SmartAdmin.Domain" />

    <!-- Diretório da Camada de Serviço -->
    <add key="OutputClassService"         value="D:\Projetos\SolutionPlataform\SmartAdmin.Service" />

    <!-- Nome do Projeto, sairá na DLL -->
    <add key="ProjetName"                 value="SmartAdmin" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>