<header>
    <span class="widget-icon"><i class="fa fa-edit"></i></span>
    <h2>Busca por Menus</h2>
</header>
<div>
    <div class="widget-body no-padding">
        @using (Html.BeginForm("Index", "Historico", FormMethod.Post, new { @id = "smart-form-filter" }))
        {
            <div class="smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-2">
						    <label class="label">Data Inicial</label>
						    <label class="input">
							    <i class="icon-append fa fa-calendar"></i>
							    <input type="text" name="DATAINICIAL" id="DATAINICIAL" placeholder="__/__/____" class="datemask datepicker">
						    </label>
                        </section>
                        <section class="col col-2">
						    <label class="label">Data Final</label>
						    <label class="input">
							    <i class="icon-append fa fa-calendar"></i>
							    <input type="text" name="DATAFINAL" id="DATAFINAL" placeholder="__/__/____" class="datemask datepicker">
						    </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <button id="btnBuscarHistorico" type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                    <a class="btn btn-lg btn-success">
                        <i class="fa fa-print"></i> Imprimir
                    </a>                
                </footer>
            </div> 
        }
    </div>
</div>