@using SmartAdmin.WebUI.HtmlHelpers;
@model SmartAdmin.WebUI.ModelView.PermissionModelView

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("SaveMenuPermission", "Usuario", FormMethod.Post, new { @id = "smart-form-menu" }))
        {            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Permissão de Menus ao Usuário</h4>
            </div>  
            <div class="modal-body" style="padding-bottom:0; margin-bottom:0;">
                <div class="widget-body no-padding">
                    <div class="smart-form">                         
                        <fieldset>
                            <section>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @HtmlControls.HiddenField("ID", new { @value=Model.ID })
                                    @HtmlControls.TextBox("NOME", new { @value = Model.NOME, @placeholder = "Nome do usuário completo", @readonly = "true" })
                                    <b class="tooltip tooltip-bottom-right">Nome do usuário completo</b>
                                </label>
                            </section>
                        </fieldset>
                        <fieldset>
                            <section>
                                <div class="table-responsive" >
                                    <table class="table table-bordered smart-form has-tickbox" style="">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkbox">
                                                        <input name="checkbox-inline" type="checkbox">
                                                        <i></i>
                                                    </label>
                                                </th>
                                                <th>Nome do Menu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 1;

                                                for (int i = 0; i < Model.CollectionMenus.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <label class="checkbox">
                                                                  @Html.CheckBoxFor(_=> Model.CollectionMenus[i].Checked)
                                                                <i></i>
                                                            </label>
                                                        </td>
                                                        <td>@Model.CollectionMenus[i].Text</td>
                                                    </tr>
                                                }                                              
                                             }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-default" data-dismiss="modal"><i class="fa fa-sign-in"></i>&nbsp;Fechar</button>
                <button type="submit" class="btn btn-md btn-warning" id="btnSavePermission"><i class="fa fa-cog"></i>&nbsp;Salvar</button>
            </div>
        }
    </div>
</div>     
